/* =========================== GRADIENTS LINEAR COLORS FOR BACKGROUNDS LIKE BUTTONS HEADERS ONLY ================================= */
.gradient_bg_colors {
	background: -webkit-linear-gradient(
		to right,
		#3b82f6,
		#8b5cf6
	); /* Safari, iOS */
	background: -moz-linear-gradient(to right, #3b82f6, #8b5cf6); /* Firefox */
	background: -o-linear-gradient(to right, #3b82f6, #8b5cf6); /* Opera */
	background: -ms-linear-gradient(to right, #3b82f6, #8b5cf6); /* IE */
	background: linear-gradient(to right, #3b82f6, #8b5cf6); /* Standard */
}

.gradient_bg_colors:hover {
	background: -webkit-linear-gradient(
		to right,
		#3b83f68e,
		#8a5cf68f
	); /* Safari, iOS */
	background: -moz-linear-gradient(
		to right,
		#3b83f64f,
		#8a5cf68d
	); /* Firefox */
	background: -o-linear-gradient(to right, #3b83f65a, #8a5cf681); /* Opera */
	background: -ms-linear-gradient(to right, #3b82f6, #8a5cf65c); /* IE */
	background: linear-gradient(to right, #3b83f660, #8a5cf66e); /* Standard */
}
/* =========================== GRADIENTS LINEAR COLORS FOR TEXT ONLY ================================= */

.bg_clip_text {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; /* <-- Important for Safari/iOS */
}

.text_gradient {
	background: linear-gradient(to right, #3b82f6, #8b5cf6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}
